* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/0guaa9jpewk71.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Poppins',sans-serif;
}

.fw-bolder {
    font-weight: bold;
}

.display-1 {
    font-size: 4em;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    margin: auto;
    width: 50%;
}